.quantity-column {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.btn-clear-cart {
  float: left;
}

.thumbnail {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
}