<h1>Shopping cart</h1>

<ng-container *ngIf=" cart$ | async as cart">
    <p>
      You have  {{ cart.totalItemsCount }} items in your shopping cart.
      <button 
    *ngIf="cart.items.length > 0"
    (click)="clearCart()" 
    class="btn btn-light btn-sm btn-clear">Clear Shopping Cart</button>
    </p>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th class="quantity-title">Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td>
          <img [src]="item.product.imageUrl" class="thumbnail">
        </td>
        <td>{{ item.product.title }}</td>
        <td>
          <div class="quantity-component">
            <product-quantity  [product]="item.product" [shopping-cart]="cart">
            </product-quantity>
          </div>
        </td> 
        <td>{{ item.totalPrice | currency }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th colspan="4">
          Total: {{ cart.totalPrice | currency }}
        </th>
      </tr>
    </tfoot>
  </table>
  <a
    *ngIf="cart.items.length > 0"  
    class="btn btn-primary"
    routerLink="/check-out">Check out</a>
</ng-container>


