.input-group {
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-group button {
  width: 20%;
  border-radius:5px ;
}

.input-group .minus-btn {
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group .plus-btn {
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group .quantity {
  font-weight: bold;
}