<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/"><i class="fa-solid fa-house"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping-cart">
            <i class="fa-solid fa-cart-shopping"></i>
            <span class="badge text-bg-warning rounded-pill" *ngIf=" cart$ | async as cart">
              {{ cart.totalItemsCount }}
            </span>
          </a>
        </li>
        <ng-template #anonymousUser >
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Log In</a>
          </li>
        </ng-template> 
        <li ngbDropdown *ngIf="appUser; else anonymousUser " class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{appUser.name}}
          </a>
          <div ngbDropdownMenu class="dropdown-menu ">
            <a  class="dropdown-item" routerLink="/my/orders">My Orders</a>
            <a *ngIf="appUser?.isAdmin" class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
            <a *ngIf="appUser?.isAdmin" class="dropdown-item" routerLink="/admin/products">Manage Products</a>
            <a
              (click)="logout()" 
              class="dropdown-item" style="cursor: pointer;">Log Out
              <i class="fa-solid fa-right-from-bracket"></i></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
